{% extends 'layout.html' %} {% block body %}
<div class="home">
  <div>
    <h1 class="heading">The Tools:</h1>
  </div>
  <div class="tool-links">
    <a class="tool-link" href="/visualizer">
      <img src="{{ url_for('static', filename='img/earth.jpg') }}" alt="earth" />
      <span>Visualizer</span>
    </a>
    <a class="tool-link" href="/processor">
      <img src="{{ url_for('static', filename='img/earth.jpg') }}" alt="earth" />
      <span>Processor</span>
    </a>
    <a class="tool-link" href="/viewer">
      <img src="{{ url_for('static', filename='img/earth.jpg') }}" alt="earth" />
      <span>Viewer</span>
    </a>
  </div>
  <hr />
</div>
{% endblock %}
