html {
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #843f28;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #e6d8ad;
}
.nav-title {
  margin-left: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.nav-title img {
  width: 3rem;
}
.nav-title a {
  margin-left: 1rem;
  font-weight: bold;
}
.nav-links {
  margin-right: 2rem;
}
.nav-links a {
  margin-left: 2rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 4rem);
  background-color: lightblue;
}
.home {
  width: 60%;
  margin-top: 8rem;
}
.heading {
  color: #843f28;
  padding-bottom: 2rem;
}
.tool-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.tool-link {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}
.tool-link img {
  width: 10rem;
}
.tool-link span {
  text-align: center;
}
.tool {
  margin-top: 8rem;
  display: flex;
}
.left {
  width: 80%;
  padding-top: 20px;
}
