{% extends 'layout.html' %} {% block body %}
<div class="home">
  <div>
    <h1 class="heading">About this site:</h1>
  </div>
  <div>
    <p>
      This is a clone of a internal tool site from a job that I interviewed for. The interviewer shared his screen with
      me and showed me the site for a minute or two. Afterwards I built this site from scratch using the technologies
      that they mentioned in the job description - Flask and Dropzone. It's my birthday today 12/12/2020
    </p>
  </div>
  <hr />
</div>
{% endblock %}
